.color1 {color: #acd5ff;}
.color2 {color: #faf9ff;}
.color3 {color: #141a35;}
.color4 {color: #76777c;}
.color5 {color: #e2e2e2;}
.color6 {color: #0892ff;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#creationMedicine {

}

#creationMedicine .containerMedicine {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

#creationMedicine .containerMedicine .tittleMedicine {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 20px 0;
    color: #46cad6;
}

#creationMedicine .containerMedicine .formMedicine {
    width: 1300px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#creationMedicine .containerMedicine #btn-task-save {
    margin: 10px 0 30px 0;
    padding: 5px 50px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: #46cad6 2px solid;
    color: #46cad6;
}

#creationMedicine .containerMedicine #btn-task-save:hover {
    background-color: #46cad6;
    color: white;
}

#creationMedicine .containerMedicine .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 40%;
    margin: 5px;
}

#medicines {
    /*height: 550px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#medicines .containerMedicines {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#medicines .containerMedicines .medicines {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin: 20px; */
    justify-content: center;
}

#medicines .containerMedicines .medicines .medicine {
    /*background-color: #cdcdcd;*/
    margin: 10px;
    padding: 20px;
    /*border: 1px solid black;*/
    box-shadow: 0px 0px 0px 2px #939393;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#medicines .containerMedicines .medicines .imageMecicine{
    width: 150px;
    height: 150px;
}

#medicines .containerMedicines .medicines .medicine .containerText {
    margin: 10px 0 20px 0;
    text-align: center;
}

#medicines .containerMedicines .medicines .medicine .containerText .tittleMedicine {
    font-weight: bold;
    font-size: 22px;
}

#medicines .containerMedicines .medicines .medicine .containerText .descriptionMedicine {

}

#consult {

}

#consult .containerConsult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
}

#consult .containerConsult .titleConsult {
    font-size: 40px;
    font-weight: bold;
    color: #46cad6;
}

#consult .containerConsult  .containerInputConsult {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 400px;
}

#consult .containerConsult  .containerInputConsult #buttonConsult {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}


#banner {

}

#banner .containerBanner {
    background-image: url("../IMG/wallpaper.jpg");
    background-color: rgb(0, 0, 0, 0.4);
    color: #faf9ff;
    background-blend-mode: darken;
    background-position: center;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#banner .containerBanner .containerText {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#banner .containerBanner .containerText .title {
    font-size: 60px;
}

#banner .containerBanner .containerText .titleBold {
    font-size: 70px;
    font-weight: bold;
}

#products {
    margin: 50px 0;
}

#products .containerProducts {

}

#products .containerProducts .containerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #46cad6;
    /*color: #acd5ff;
    -webkit-text-stroke: 1px #141a35;*/
    margin: 0 0 40px 0;

}

#products .containerProducts .containerTitle .iconTitle {
    font-size: 100px;
}

#products .containerProducts .containerTitle .title {
    margin: 0 0px 0 20px;
    font-weight: bold;
    font-size: 55px;
}

#information {
    margin: 50px 0px 80px 0;
}

#information .containerInformation {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#information .containerInformation .containerIMG .imgInformation {
    width: 650px;
}

#information .containerInformation .containerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#information .containerInformation .containerText .containerTextTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #46cad6;
    margin: 0 0 30px 0;
}

#information .containerInformation .containerText .containerTextTitle .iconTitle {
    font-size: 70px;
}

#information .containerInformation .containerText .containerTextTitle .textTitle {
    margin: 0;
    font-size: 33px;
    font-weight: bold;
}

#information .containerInformation .containerText .containerItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#information .containerInformation .containerText .containerItems .containerItem {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 500px;
    margin: 5px 0 10px 0;
}

#information .containerInformation .containerText .containerItems .containerItem .indicator {
    font-size: 30px;
    color: #46cad6;
}

#information .containerInformation .containerText .containerItems .containerItem .textItem {
    margin: 0 0 0 15px;
    font-size: 15px;
}

#carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
}

#carrusel .containerCarousel {
    width: 80%;
}

#carrusel .containerCarousel .imgCarrusel {
    width: 100%;
    height: 420px;
}

#navbar .styleNavbar {
    background-color: #46cad6 !important;
}

#navbar .styleNavbar .textNavbar {
    color: white;
    font-weight: bold;
}

#navbar .styleNavbar .active {
    background-color: white;
    color: #46cad6 !important;
    border-radius: 18px;
}

#navbar .styleNavbar .nav-item {
    margin: 0 5px;
}

#navbar .styleNavbar .nav-item:hover {
    background-color: rgb(187, 187, 187);
    border-radius: 18px;
}

#navbar .styleNavbar .imgNavbar {
    width: 50px;
}

#navbar .styleNavbar .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@media(max-width: 990px) {
    #navbar .styleNavbar .active {
        padding: 10px 50px;
    }

    #navbar .styleNavbar .nav-item {
        margin: 5px 0;
    }

    #banner .containerBanner .containerText .titleBold {
        text-align: center;
    }
    
    #information .containerInformation {
        flex-wrap: wrap;
    }

    #information .containerInformation .containerText .containerTextTitle .textTitle {
        text-align: center;
    }

    #products .containerProducts .containerTitle .title {
        text-align: center;
        margin: 0;
    }

    #banner .containerBanner .containerText .titleBold {
        font-size: 50px;
    }

    #consult .containerConsult .titleConsult {
        text-align: center;
    }

    #consult .containerConsult .containerInputConsult {
        flex-wrap: wrap;
        width: auto;
    }

    #creationMedicine .containerMedicine {
        text-align: center;
    }

    .input-group {
        width: 60% !important;
    }

    #creationMedicine .containerMedicine .formMedicine {
        width: 800px;
    }
}

@media(max-width: 500px) {
    #information .containerInformation .containerIMG .imgInformation {
        width: 300px;
    }

    #information .containerInformation .containerText {
        width: 230px;
    }

    #information .containerInformation .containerText .containerItems .containerItem {
        width: 300px;
    }

    #carrusel .containerCarousel .imgCarrusel {
        height: 200px;
    }

    #products .containerProducts .containerTitle .title {
        font-size: 33px;
    }

    #products .containerProducts .containerTitle .iconTitle {
        font-size: 80px;
    }

    #inputConsult {
        width: 80%;
        margin: 0 0 30px 0;
    }

    #creationMedicine .containerMedicine .formMedicine {
        width: 550px;
    }
}

#crearMedicamento {
    display: none;
}

#logoutInModal {
    display: none;
}

#signInModal .contenedorModal {
    background-color: #46cad6 !important;
}

#signInModal .contenedorModal .modal-header {
    border-bottom: aliceblue;
    padding: 15px 15px 0px;
    color: white;
}

#signInModal .contenedorModal .modal-header .btn-close {
    background-color: white;
}

#signInModal .contenedorModal .information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

#signInModal .contenedorModal .information .title {
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

#signInModal .contenedorModal .modal-body {
    margin: 0 20px 20px;
}

#signInModal .contenedorModal .modal-body #signInModalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#signInModal .contenedorModal .modal-body #signInModalForm #buttonIngresar {
    padding: 5px 50px;
    margin: 10px 0 0 0;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: white 2px solid;
    color: #46cad6;
}

#signInModal .contenedorModal .modal-body #signInModalForm #buttonIngresar:hover {
    background-color: #117881;
    color: white;
}

span {
    font-weight: bold !important;
    background-color: white !important;
    /* border: white 2px solid; */
    color: #46cad6 !important;
}

#titleDetalle {
    width: 90%;
    margin: auto;
}

#titleDetalle .containerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px 0 0 0;
}

#titleDetalle .containerTitle .styleTitle {
    font-size: 40px;
    font-weight: bold;
    color: #46cad6;
}

#medicine {
    width: 90%;
    margin: auto;
}

#medicine .containerMedicine {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px 0 50px 0;
}

#medicine .containerMedicine .medicine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#medicine .containerMedicine .medicine .tittleMedicine {
    font-size: 25px;
    font-weight: bold;
    color: #46cad6;
    margin: 0 0 30px 0;
}

#medicine .containerMedicine .medicine .containerInformation {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#medicine .containerMedicine .medicine .containerInformation .imageMecicine {
    width: 400px;
    height: 300px;
}

#medicine .containerMedicine .medicine .containerInformation .containerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 30px;
    text-align: center;
    width: 60%;
}

#medicine .containerMedicine .medicine .containerPrice {
    display: flex;
    align-items: center;
    justify-content: center;
}

#medicine .containerMedicine .medicine .containerPrice .textPrice {
    font-size: 30px;
    font-weight: bold;
    color: #46cad6;
    margin: 30px 0 60px 0;
}

#medicine .containerMedicine .medicine .containerPlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#medicine .containerMedicine .medicine .containerPlace .textPlace {
    font-size: 23px;
    font-weight: bold;
    color: #46cad6;
    margin: 0 0 20px;
}

@media(max-width: 650px) {
    #titleDetalle .containerTitle {
        text-align: center;
    }

    #medicine .containerMedicine .medicine {
        text-align: center;
    }

    #medicine .containerMedicine .medicine .containerInformation {
        flex-direction: column;
    }

    #medicine .containerMedicine .medicine .containerInformation .imageMecicine {
        width: 280px;
        height: 200px;
    }

    #medicine .containerMedicine .medicine .containerInformation .containerText {
        margin: 30px 0;
        width: 80%;
    }

    iframe {
        width: 300px;
    }
}